header.header 
	nav.nav.nav--main
	nav.nav.nav--user 
		a.nav__el(href='/') Main page | 
		a.nav__el(href="/login") Login | 
		a.nav__el.nav__el--cta(href="/signup") Signup | 
		a.nav__el.nav__el--cta(href="/message") Send Message | 
		a.nav__el.nav__el--cta(href="/messages") Messages | 
		a.nav__el.nav__el--cta(href="/users") Users | 
		a.nav__el.nav__el--logout Logout