extends partials/_base

block content 
	main.main
		.chat-form 
			h2.heading-secondary.ma-ba-lg Chats 
			form.form.form--chat
				form__group 
					label.form__label(for='userSearch') User: 
					input#search.form__input(type="text", placeholder='Input suer first name, last name or username')
				.form__group 
					button.btn.btn--green Create chat