extends partials/_base

block content 	
	main.main
		h2 Main Page
		h3 Chat can only be used by authorized users
		h4 if you want to chat, please login or register
		form.form.form--home
			.form__group
				button.btn.btn--green Login
			.form__group
				button.btn.btn--green Signup