extends partials/_base

block content 	
	main.main
		form.form.form--home
			h2.home--header #{header}
			h3.home--text #{text}
			.form--button__group
				a.btn.btn--green.btn__group(href="/login") #{button.login}
				a.btn.btn--green.btn__group(href="/signup") #{button.signup}