extends partials/_base

block content 	
	main.main
		h2 #{header}
		h3 #{text}
		form.form.form--home
			.form__group
				button.btn.btn--green #{button.login}
			.form__group
				button.btn.btn--green #{button.signup}