extends partials/_base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Login
            form.form.form--login
                .form__group
                    label.form__label(for='email') Email
                    input#email.form__input(type='email', placeholder='Ваш email', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Пароль
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Войти