extends partials/_base

block content
	main.main
		h1.heading-secondary.messages--header #{header}
		each message in messages
			.card
				.card__header 
					.card__data
						h3.message--sender Sender 
							span.message--sender__span= message.recipient.username
						h3.message--createdAt= moment(message.createdAt).fromNow()

				.card__footer 
					.card__data
						h3.message--content Message	
						h4.message--content__span= message.content
						button.btn.btn-green.btn--small.message--id(data-messageid= message.id) Decode message
