extends partials/_base

block content 
	main.main
		.message-form 
			h2.heading-secondary.ma-ba-lg Send Message 
			form.form.form--message
				form__group 
					label.form__label(for='userSearch') User: 
					input#username.form__input(type="text", placeholder='Input suer first name, last name or username')
				form__group 
					label.form__label(for='sendMessage') Message: 
					input#content.form__input(type="text", placeholder='Message...')
				.form__group 
					button.btn.btn--green Send Message