extends partials/_base

block content  
	main.main
		.signup-form  
			h2.heading-secondary.ma-bt-lg Signup
			form.form.form--signup
				.form__group 
					label.form__label(for='email') Email 
					input#email.form__imput(type='email', placeholder='Email', required) 
				.form__group 
					label.form__label(for='text') First Name 
					input#firstName.form__imput(type='text', placeholder='First Name', required) 
				.form__group 
					label.form__label(for='text') Last name 
					input#lastName.form__imput(type='text', placeholder='Last Name', required) 
				.form__group 
					label.form__label(for='password') Email 
					input#password.form__imput(type='password', placeholder='*******', required) 
				.form__group 
					button.bt.btn--green Signup