.form--home {
  padding: 0 5rem;
  height: 8rem;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home--header {
	font-size: 4rem;
}

.home--text {
	font-size: 2rem;
	align-items: center;
}


.form--button__group {
	display: flex;
	margin: 0 -5px;
	padding: 2rem;
}

.btn__group {
	flex: 1 1 auto;
	margin: 0 2rem;
}