:root {
  --section-rotate: 9vw;
  --red: #eb4d4b;
  --lignt-red: #ff7730;
  --bronze-red: #eb4d4b;
  --green: #55c57a;
  --light-green: #7dd56f;
  --bronze-green: #28b487;
  --white: #f7f7f7;
  --grey: #777;
  --light-grey: #f2f2f2;
  --dark-grey: #444;
  --bronze-grey: #bbb;
}